body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
  }
  
  .container, .home-container, .results-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1, h2 {
    color: #800000; /* Maroon color */
    text-align: center;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #8a2727; /* Maroon color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #ba4343; /* Darker maroon */
  }
  
  input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .results-score {
    text-align: center;
    font-size: 24px;
    color: #333;
  }
  
  .results-score .score, .results-score .total {
    font-weight: bold;
  }
  